@import "mixins";
@import "variables";

.contract-create-page {
  margin-top: 40px;

  input {
    width: 100%;
    background: @gray !important;
    border-radius: 12px !important;
    border: none;
    height: 56px !important;
  }

  select {
    appearance: none;
    width: 100%;
    border-radius: 12px;
    border: none;
    height: 56px;
    padding: 8px 8px 8px 16px;
    background: @gray url("../media/images/addons/installment/arrow.png") no-repeat 320px 26px;

    &:focus {
      border-color: @main;
    }
  }

  .back-button {
    margin-bottom: 32px;

    a {
      background-color: @gray;
      padding: 16px 8px;
      border-radius: 12px;
    }
  }

  .buyer-header {
    .info {
      display: flex;
      align-items: center;

      .main-profile__text {
        display: flex;
        flex-direction: column;
        margin-left: 16px;

        .main-profile__text-item {
          .font(@fs: 24px, @fw: 700, @lh: 29px)
        }

        .main-profile__text-second {
          .font(@fs: 18px, @lh: 21.7px);
        }
      }
    }

    .installment-limit {
      display: flex;
      align-items: center;
      height: 80px;

      .text {
        margin-left: 16px;
        display: flex;
        flex-direction: column;

        .title {
          .font(@fw: 700, @lh: 19.3px)
        }

        .price {
          .font(@fs: 18px, @fw: 700, @lh: 21.7px, @color: @main)
        }
      }
    }

    .status {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      span {
        border: 1px solid #0FBE7B;
        border-radius: 8px;
        color: #0FBE7B;
        padding: 5px 16px;
      }

      @media only screen and (max-width: @mobile) {
        justify-content: unset;
      }
    }
  }

  .products {
    h3 {
      margin-top: 32px;
      margin-bottom: 16px;
      .font(@fs: 24px, @fw: 700, @lh: 29px);
    }

    table {
      border: 2px solid rgba(0, 0, 0, 0.08);
      width: 100%;

      th, td {
        border: 2px solid rgba(0, 0, 0, 0.08);
        padding: 16px;

        @media screen and (max-width: @mobile) {
          padding: 8px;
        }
      }
    }
  }

  .calculate-price {
    h3 {
      margin-top: 32px;
      margin-bottom: 16px;
      .font(@fs: 24px, @fw: 700, @lh: 29px);
    }

    .monthly-payment, .total-price {
      display: flex;
      align-items: center;

      @media screen and (max-width: @mobile) {
        margin-top: 14px;
      }

      .text {
        margin-left: 16px;
        display: flex;
        flex-direction: column;

        .title {
          .font(@fw: 700, @lh: 19.3px)
        }

        .price-month {
          .font(@fs: 18px, @lh: 21.7px);
        }

        .price {
          .font(@fs: 18px, @fw: 700, @lh: 21.7px, @color: @main)
        }
      }
    }
  }

  .shipping-address {
    h3 {
      margin-top: 32px;
      margin-bottom: 16px;
      .font(@fs: 24px, @fw: 700, @lh: 29px);
    }
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  margin: 8% auto; /* 15% from the top and centered */
  padding: 48px;
  border-radius: 8px;
  border: 1px solid #888;
  width: 31%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  top: 24px;
  right: 23px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.card-add__page {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;

  .card-confirm {
    width: 564px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .ty-control-group {
      text-align: center;
    }

    #card-pin-wrapper {
      text-align: center;
      margin-bottom: 32px;
    }

    .resend-sms-card {
      text-align: center;
      pointer-events: none;

      &.active {
        color: @main;
        pointer-events: unset;
        cursor: pointer;
      }
    }

    .resend-sms-card__ok {
      color: @main;
      cursor: pointer;
    }
  }

  h1 {
    margin-bottom: 32px;
    text-align: center;
    .font(@fs: 40px, @fw: 900, @lh: 40px);

    @media (max-width: @mobile) {
      font-size: 28px;
    }
  }

  button {
    width: 57%;
    margin: 24px 12% 0 12%;
    background-color: @main;

    &:disabled {
      background-color: @dark-gray;
    }
  }

  .stepperStyle();
}

/* The Modal (background) */
.modal5 {
  display: block;
  position: fixed;
  z-index: 20;
  padding-top: 153px;
  left: 0;
  top: 49px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content5 {
  text-align: center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 12px;
  width: 50%;

  h1 {
    .font(@fs: 24px, @fw: 700, @lh: 29px);
  }

  @media screen and (max-width: @mobile) {
    width: 90%;
  }

  .modal-content5__item {
    text-decoration: none;
    color: @main;
  }
}

/* The Close Button */
.close5 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close5:hover,
.close5:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.main-form__last-input {

  //margin-top: 45px;


  .last-item__style input {
    background-color: #f6f6f6;
    border-radius: 8px;
    border: none;
    padding: 27px 14px;
    //width: 180%;
  }
}

#story6 {
  background-color: #f6f6f6;
  border-radius: 8px;
  border: none;
  padding: 27px 138px;
  width: 180%;
}

.not-tashkent-region {
  width: 100% !important;;

}