.font(@fs: 16px, @fw: 400, @lh: 24px, @ls: 0.01em, @color: #1E1E1E) {
  font-size: @fs;
  font-weight: @fw;
  line-height: @lh;
  letter-spacing: @ls;
  color: @color;
}

.centering() {
  display: flex;
  align-items: center;
  justify-content: center;
}
