.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  form {
    margin-top: 100px;

    .installment-code-container {
      margin: 0
    }

    #pinwrapper {
      margin-bottom: 12px;
    }

    button {
      width: 100%;
      margin-left: 0 !important;

      &#installmentConfirmCodeBtn {
        margin: 12px 0;
      }
    }
  }
}

.d-none {
  display: none !important;
}

.d-block {
  display: block;
}
