@import "variables";
@import "mixins";
@import "custom";

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  form {
    margin-top: 100px;
    width: 430px;

    @media (max-width: @mobile) {
      width: 100%;
    }

    .sending-sms {
      h1 {
        text-align: center;
        .font(@fs: 40px, @fw: 900, @lh: 40px);

        @media (max-width: @mobile) {
          font-size: 28px;
        }
      }

      .oferta-container {
        margin-bottom: 28px;

        a {
          color: @main;
        }
      }

      .agreement {
        margin-bottom: 40px;
        cursor: pointer;

        input {
          border-color: @main;

          &:focus {
            box-shadow: unset;
          }

          &:checked {
            background-color: @main;
          }
        }
      }
    }

    .confirmation {
      text-align: center;

      h1 {
        text-align: center;
        .font(@fs: 40px, @fw: 900, @lh: 40px);

        @media (max-width: @mobile) {
          font-size: 28px;
        }
      }

      .installment-code-container {
        margin: 0
      }

      .resend-sms-phone {
        pointer-events: none;

        &.active {
          color: @main;
          pointer-events: unset;
          cursor: pointer;
        }
      }
    }

    #pinwrapper {
      margin-bottom: 12px;
    }

    button {
      width: 100%;
      margin-left: 0 !important;

      &#installmentConfirmCodeBtn {
        margin: 12px 0;
      }

      &:disabled {
        background: @gray;
        cursor: not-allowed;
      }
    }
  }
}

.pinlogin-field {

  border-radius: 8px !important;
}

.hard-code-installment-price {
  display: flex;
  align-items: center;
  margin-bottom: 4px;

  .price__number {
    font-size: 16px;
    font-weight: bold;
    margin-right: 4px;
  }

  .price__month {
    background-color: #FF7643;
    padding: 3px 6px;
    border-radius: 8px;
    color: white;
    font-size: 10px;
  }
}

.ut2-min-narrow {
  .ty-price-num {
    font-size: 14px !important;
    font-weight: normal;
  }
}

.ty-price-num {
  font-family: @price_font;
  font-weight: normal;
  font-size: inherit;
}

.ut2-gl__price .ty-price-num {
  font-size: 14px;
}

#installmentSendSMSBtn:disabled {
  background-color: rgb(212, 211, 224) !important;
}