.main-tabs {
  display: flex;
  align-items: start;

  .main-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .main-content__items {

  }
}

